:root {
  --cc-bg: {{ background }};
  --noti-border-color: {{ color0 }};
  --noti-bg: 36, 31, 27;
  --noti-bg-alpha: 0.98;
  --noti-bg-darker: {{ background }};
  --noti-bg-hover: {{ color8 }};
  --noti-bg-focus: {{ color0 }};
  --noti-close-bg: {{ color0 }};
  --noti-close-bg-hover: {{ color1 }};
  --text-color: {{ foreground }};
  --text-color-disabled: {{ color8 }};
  --bg-selected: {{ color3 }};
  --border-radius: 10px;
  --font-size-body: 13px;
  --font-size-summary: 13px;
}

* {
  font-family: JetBrainsMono Nerd Font, JetBrains Mono, monospace;
}

.notification-row .notification-background {
  padding: 8px 12px;
}

.notification-row .notification-background .notification .notification-default-action {
  padding: 10px 12px;
}

.widget {
  margin: 10px;
  padding: 10px;
}

.control-center-list {
  padding-bottom: 8px;
}

.notification-group {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.notification-group .notification-group-headers,
.notification-group .notification-group-buttons {
  margin: 0 8px;
}

.notification-group .notification-group-close-button .close-button {
  margin: 4px 8px;
}

.notification-group .notification-group-headers {
  padding: 4px 0;
}

.notification-group.collapsed .notification-row:not(:last-child) {
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.control-center .control-center-list .notification {
  box-shadow: none;
}

.notification-row .notification-background .notification.normal {
  border: 1px solid {{ color3 }};
}

.notification-row .notification-background .notification.critical {
  border: 1px solid {{ color1 }};
}

.widget-title > label {
  font-size: 14px;
  font-weight: bold;
}

.widget-dnd label {
  font-size: 13px;
}

.close-button {
  border-radius: 100%;
  min-width: 20px;
  min-height: 20px;
}

.close-button:hover {
  color: {{ background }};
}

.widget-title > button {
  background: {{ color0 }};
  border: 1px solid {{ color0 }};
  color: {{ foreground }};
  font-size: 12px;
}

.widget-title > button:hover {
  background: {{ color3 }};
  border-color: {{ color3 }};
  color: {{ background }};
}

.widget-dnd switch {
  background: {{ color0 }};
}

.widget-dnd switch:checked {
  background: {{ color3 }};
}

.widget-dnd switch slider {
  background: {{ foreground }};
}

.floating-notifications {
  margin-top: 28px;
}

.floating-notifications .notification-row {
  margin-right: 28px;
}
